.rp-ArtworkSingle {
	max-width: -webkit-calc(100vh - 3em - 2em);
    max-width: calc(100vh - 3em - 2em);
    margin-left: auto;
    margin-right: auto;
}

@media (min-height: 35em) {
    .rp-ArtworkSingle {
        max-width: 30em
    }
}

@media (min-aspect-ratio: 5/4) {
    .rp-ArtworkSingle .rp-PrevNextNav {
        position: fixed;
        width: -webkit-calc(100vh - 5em + 2 * 2.6em + 2em);
        width: calc(100vh - 5em + 2 * 2.6em + 2em);
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 1em
    }
}